<form class="mt-4" name="container-form" method="POST" action="/clothes/handle-form-actions"> 
  <table  class="table mt-4">
      <div class="mt-4">
        <h2>Clothes Storage </h2>
          <a href="/clothes/trash">Deleted items ({{deletedCount}})</a>

          <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
              <label class="form-check-label" for="checkbox-all">
                Select All
              </label>
            </div>
            <select name="action" class="form-control"  style="margin : 0px 14px ; width : 140px" required>
              <option value="">---Actions---</option>
              <option value="delete">Delete</option>
            </select>
            <button class="btn btn-primary apply-btn " disabled="disabled" >Apply</button>
          </div>      
      </div>
          
    <thead>
      <tr>
        <th></th>
        <th scope="col">#</th>
        <th scope="col">
          Name

        </th>
        <th scope="col">
          Image

        </th>
        <th scope="col">
          Time created

        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each clothes}}
      <tr>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="{{this._id}}" name="clothIds[]" >
            </div>
        </td>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/clothes/{{this._id}}/edit" class="btn btn-link">Edit</a>
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#delete-item-modal" data-whatever="{{this._id}}">
            Delete
          </button>
        </td> 
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          No clothes available
          <a href="/clothes/upload">Upload new cloth here</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</form>

{{!-- confirm to delete item --}}
<div class="modal fade" id="delete-item-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
        <button id="btn-delete-item" type="button" class="btn btn-danger">Uyes</button>
      </div>
    </div>
  </div>
</div>


<form  name="delete-item-form" method="POST"></form>

<script>

  document.addEventListener('DOMContentLoaded', function() { 

    var clothId 
    const btnDeleteItem = document.getElementById('btn-delete-item');
    const deleteForm  = document.forms['delete-item-form'];
    const containerForm = document.forms['container-form']
    const applyBtn = $('.apply-btn')
    const itemCheckbox = $('input[name="clothIds[]"]')
    const checkboxAll = $('#checkbox-all') 


    $('#delete-item-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      clothId = button.data('whatever') 

    })

    btnDeleteItem.onclick = () => { 
      deleteForm.action = '/clothes/' + clothId + '?_method=delete'
      deleteForm.submit()
    }

    //checkbox all changed
    checkboxAll.change((e) => {
      var isCheckedAll  = $(e.target).prop('checked')
      itemCheckbox.prop('checked' , isCheckedAll)
      renderApplyBtn()
    })

    //checkbox item changed
    itemCheckbox.change((e) => {
      var isCheckedAll = itemCheckbox.length ===  $('input[name="clothIds[]"]:checked').length
      checkboxAll.prop('checked' , isCheckedAll)
      renderApplyBtn()
    })

    containerForm.on('submit', (e) => {
      var isSubmittable =  !applyBtn.hasClass('disabled')
      if(!isSubmittable) { 
        e.preventDefault()  
      }
    })

    function renderApplyBtn() { 
      var checkedCount = $('input[name="clothIds[]"]:checked').length
      if(checkedCount > 0) { 
        applyBtn.attr('disabled' , false)
      }else { 
        applyBtn.attr('disabled' , true )  
      }
    }



  })

</script>