<form name="container-form"  method="POST" action="/clothes/handle-form-actions">
   <table class="table mt-4">
      <div>
        <a href="/clothes/">Clothes Storage</a>
        <h2>Deleted Items : </h2>
     </div>   
          <div class="mt-4 d-flex align-items-center">       
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
              <label class="form-check-label" for="checkbox-all">
                Select All
              </label>
            </div>
      
            <select class="form-control form-control-sm checkbox-select-all-options " name="action" style="margin : 0px 14px ; width : 120px">
              <option value="">--Options--</option>
              <option value="delete-forever">Delete</option>
              <option value="restore">Restore</option>
            </select>
      
            <button class="btn btn-primary btn-sm apply-btn" disabled >Apply</button>
          </div>
  
      </div>
    <thead>
      <tr>
        <th></th>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Level</th>
        <th scope="col">Time created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each clothes}}
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{this._id}}" name="clothIds[]">
          </div>
        </td>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/clothes/{{this._id}}/restore"  class="btn btn-link btn-restore " data-whatever="{{this._id}}">Restore</a>
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#delete-course-modal" data-whatever="{{this._id}}">
            Delete
          </button>
        </td> 
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          No items deleted .    
          <a href="/clothes">My Items</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
   </table>
</form>



<form id="form-course-delete" method="POST"></form>
<form id="form-course-restore" method="POST"></form>


{{!-- confirm delete course --}}
<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm to Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>Are you sure to delete this course?</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">No</button>
        <button id="btn-course-delete" type="button" class="btn btn-danger btn-lg" >Uyes</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var clothId
    const btnCourseDelete = document.getElementById('btn-course-delete');
    const formCourseDelete = document.getElementById('form-course-delete');
    const formCourseRestore = document.getElementById('form-course-restore');
    const containerForm = $('form[name="container"]')
    const restoreBtn = $('.btn-restore')
    const applyBtn = $('.apply-btn')
    const courseItemCheckbox = $('input[name="clothIds[]"')
    const allSelect = $('#checkbox-all')


    $('#delete-course-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) 
      clothId = button.data('whatever') 
      console.log(clothId)
    });

    btnCourseDelete.onclick = () => {
      formCourseDelete.action = "/clothes/" + clothId + "/force?_method=DELETE";
      formCourseDelete.submit();
    }
    restoreBtn.click((e) => {
        e.preventDefault();
        var clothId = $(e.target).data('whatever')
        formCourseRestore.action = "clothes/" + clothId + "/restore?_method=PATCH"
        formCourseRestore.submit()

    })
 
    containerForm.on('submit' , (e) => {
      var isSubmittable = !applyBtn.hasClass('disabled');

      if(!isSubmittable){
        e.preventDefault()
      }
    })

    allSelect.change((e) => { 
      var isCheckedAll = $(e.target).prop('checked')
      courseItemCheckbox.prop('checked', isCheckedAll)
      renderApplyBtn()
    })

    courseItemCheckbox.change((e) => { 
      const isCheckedAll = courseItemCheckbox.length === $('input[name="clothIds[]"]:checked').length
      allSelect.prop('checked', isCheckedAll)
      renderApplyBtn()
    })

    const renderApplyBtn = () => { 
      var checkedCount = $('input[name="clothIds[]"]:checked').length
      if(checkedCount) { 
        applyBtn.attr('disabled', false)
      }
      else { 
        applyBtn.attr('disabled', true)
      }
    }

  })
</script>

